nav li{ display:inline;
	border: 5px solid purple;
	padding: 5px;
	margin: 35px;
	background:white;}
	
	ul {text-align: center;
		display:inline}
	
	img {margin:60px}
	
	h1 {text-align: center}
	
	h2 {text-align: center}

	body{text-align:center;
	background:silver }