nav li{ display:inline;
	border: 5px solid purple;
	padding: 5px;
	margin: 35px;
	background:white;}
	
	img{padding: 50px;
		display:left}
	
	h1 {text-align:center;
		padding: 20px}
	
	body{background:silver}
	
	h3 {padding: 20px;
	display:table}